!node_modules/
node_modules/*
!node_modules/pug-bootstrap/
node_modules/pug-bootstrap/*
!node_modules/pug-bootstrap/layouts/
jadebootstrap-seed
credentials.js
package-lock.json
*.log
nohup.out
node.log
bin/
.DS_Store
