+panel-primary('txt')
  .row
    .col-md-4
      +img-circle("../images/beer_bottle.png",'beer img')
    .col-md-4(id='ba_col')
      .ba_score
        strong
          .text-primary Score:
        +progress-bar-striped(1)
      .ba_brew
        strong Brewary:
      .ba_beer
        strong Beer:
      .ba_style
        strong Style:
      .ba_category
        strong Category:
      .ba_abv
        strong ABV:
      .ba_url
        +a-btn('url') Перейти на сайт
    .col-md-4(id='ap_col')
      .ap_beer
        .text-primary Beer:
        strong Название:
      .ap_brew
        strong Brewary:
      .ap_style
        strong Вид пива:
      .ap_country
        strong Страна:
      .ap_abv
        strong Крепость:
      .ap_type
        strong Тип брожения:
      .ap_price
        strong Цена:
      .ap_vol
        strong Объем:
      .ap_tara
        strong Тара:
      .ap_url
        +a-btn('url') Перейти на сайт
      .hidden(id='modal')
        button.btn.btn-primary(data-toggle="modal",data-target="#apModal") Описание
        .ap_modal_desc
          +modal('beer name',"apModal")
            .ap_desc
              .text-info
            .ap_url
              +a-btn('url') Перейти на сайт
