extends ../node_modules/pug-bootstrap/layouts/starter

append body
	.container
		h1= title
		h4 Быстрый поиск в ES
		.container
			form.navbar-form.navbar-left
				+icon-primary('search')
				|&nbsp;&nbsp;
				input.form-control(name='query', type='text', placeholder='STOUT')
				|&nbsp;&nbsp;
				button.btn.btn-primary(type='submit')= 'Найти пиво'
		.container
			if results[0] != null
				+alert-i-success('Успешный результат поиска по запросу: '+query)
				for result in results
					- var json_obj = JSON.parse(JSON.stringify(result._source));
					// render beeradvocate in .jumbotron
					if json_obj.beer
						.jumbotron
							+panel-primary(json_obj.beer+' [ '+json_obj.brewary+' ]')
								+img-circle("../images/beer_bottle.png","Circle image")
								|&nbsp;&nbsp;&nbsp;Text Text Text
								|&nbsp;&nbsp;&nbsp;Text Text Text
								.container
									h4 Score: #{json_obj.score}
									+progress-bar-striped(json_obj.score)
									//p= result._source.result
								- var items = JSON.parse(JSON.stringify(json_obj.items_dict));
								- for(var prop in items)
									|&nbsp;
									strong #{prop}:
									|&nbsp;
									+label-primary(items[prop])
			else
				+alert-i-danger('Ничего не найдено по запросу: '+query)
