extends ../node_modules/pug-bootstrap/layouts/starter

append body
	.container
		h1= title
		h4 Welcome to #{title}
		.container
			form.navbar-form.navbar-left
				+icon-primary('search')
				|&nbsp;&nbsp;
				input.form-control(name='query', type='text', placeholder='STOUT')
				|&nbsp;&nbsp;
				//+submit('Найти пиво')
				button.btn.btn-primary(type='submit')= 'Найти пиво'
		.container
			if results[0] != null
				+alert-i-success('Успешный результат поиска по запросу: '+query)
				for result in results
					.jumbotron
						p= result._source.result
			else
				+alert-i-danger('Ничего не найдено по запросу: '+query)
