extends ../node_modules/pug-bootstrap/layouts/starter
append body
  .container
    //TODO add bootstrap components: beer cards https://v4-alpha.getbootstrap.com/components/card/, modals, pagination, tooltips
    h1= title
    .container
      if styles != null
        +label-primary("Total beer")
        +label-default(styles.hits.total)
        - var obj = styles.aggregations["Beer styles"].buckets;
        - var keyNames = Object.keys(obj);
        .container
          .row
            .col-sm-4
              strong BeerAdvocate styles
            .col-sm-4
              strong Apivo styles
            .col-sm-4
              strong Both
          .row
            .col-sm-4
              for v in keyNames
                strong #{v}&nbsp
                +badge(obj[v]["doc_count"])
                - var max = Number(obj[v]["stats_abv"]["max"]).toFixed(1)
                |<br>&nbsp&nbsp&nbsp&nbspmax AVG:&nbsp#{max}
                |<br>
            .col-sm-4
            .col-sm-4
