extends ../node_modules/pug-bootstrap/layouts/starter

append body
	//- var messages = getMessages()
	//if messages
	//	each msg in messages.notify
	//		.info= msg
	.container
		h1= title
		p Welcome to #{title}
