extends ../node_modules/pug-bootstrap/layouts/starter
block append head
	script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js")
	script(src="https://d3js.org/d3.v5.min.js")
	script(src='../js/graphics.js')
append body
	.container
		h3= title
		.row
			.col-sm-4
				+accordion("c1")
					+accordion-item-default("Ales vs Lagers vs Hybrid","c1","true")
						|<canvas id="chart1" width="100%" height="100%"></canvas>
			.col-sm-4
				+accordion("c2")
					+accordion-item-default("max ABV by beer types","c2","true")
						|<canvas id="chart2" width="100%" height="100%"></canvas>
		.row
			.col-sm-12
				+accordion("c3")
					+accordion-item-default("Стили пива крепче 10 градусов","c3","true")
						|<canvas id="chart3" width="100%" height="100%"></canvas>
		.row
			.col-sm-12
				|<canvas id="chart4" width="100%" height="100%"></canvas>
