extends ../node_modules/pug-bootstrap/layouts/starter
block append head
	script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js")
	script(src='../js/graphics.js')
append body
	.container
		h3= title
		.row
			.col-sm-5
				+accordion("sample")
					+accordion-item-default("Ales VS. Lagers","sample","true")
						|<canvas id="chart1" width="250" height="250"></canvas>
			.col-sm-3
			.col-sm-3
