extends ../node_modules/pug-bootstrap/layouts/starter

append body
	.container
		h1= title
		.container
			if user != null
				+label-default('Привет: '+user)
		.container
			form.navbar-form.navbar-left
				+icon-primary('search')
				|&nbsp;&nbsp;
				input.form-control(name='query', type='text', placeholder='STOUT')
				|&nbsp;&nbsp;
				button.btn.btn-primary(type='submit')= 'Найти пиво'
		.container
			if results[0] != null
				+alert-i-success('Успешный результат поиска по запросу: "'+query+'". Найдено записай '+results.length)
				for result in results
					- var json_obj = JSON.parse(JSON.stringify(result._source));
					// render beeradvocate in .jumbotron
					if json_obj.Название && json_obj.BA_beer
						include widgets/el_search_ap_ba.pug
					else if json_obj.score
						include widgets/el_search_ba.pug
					else if json_obj.Название
						include widgets/el_search_ap.pug
			else
				+alert-i-danger('Ничего не найдено по запросу: '+query)
