extends ../node_modules/pug-bootstrap/layouts/starter
block append head
	script(src="../ladda-bootstrap/dist/spin.min.js")
	script(src="../ladda-bootstrap/dist/ladda.min.js")
	script(src='../js/mongo_render.js')
	link(rel="stylesheet",href="../ladda-bootstrap/dist/ladda-themeless.min.css")
append body
	.container
		h4= title
		.hidden(id='paginator')
		.container
			form.navbar-form.navbar-left
				+icon-primary('search')
				|&nbsp;&nbsp;
				input.form-control(id='f1' name='query', type='text', placeholder='Oatmeal stout')
				|&nbsp;&nbsp;
				button.btn.btn-primary(id='form-submit' type='submit' class='btn btn-primary ladda-button' data-style='expand-right' data-size='l')= 'Найти пиво'
		.hidden(id='dataset')
			.jumbotron(id='ba_jumbotron_hid')
		.hidden
			.jumbotron(id='ba_jumbotron')
				include widgets/el_search_ba_jquery.pug
