extends ../node_modules/pug-bootstrap/layouts/starter
block append head
	script(src="../ladda-bootstrap/dist/spin.min.js")
	script(src="../ladda-bootstrap/dist/ladda.min.js")
	script(src='../js/bootstrap-slider.min.js')
	script(src='../js/mongo_render.js')
	link(rel="stylesheet",href="../ladda-bootstrap/dist/ladda-themeless.min.css")
	link(rel="stylesheet",href="../css/bootstrap-slider.min.css")
append body
	.container
		h4= title
		.container
			.row
				.col-sm-1
					.text-right
						+icon-primary('search')
						|&nbsp;
						Strong Пиво:
				.col-sm-3
					input.form-control(id='f1' name='query', type='text', placeholder='Атомная прачечная')
				.col-sm-1
					button.btn.btn-primary(id='form-submit' type='submit' class='btn btn-primary ladda-button' data-style='expand-right' data-size='l')= 'Найти пиво'
			.row
				.col-sm-5
			.row
				.col-sm-5
			.row
				.col-sm-5
			.row
				.col-sm-4
					+accordion("sample")
						+accordion-item-info("Brewery and ABV","sample")
							input.form-control(id='f2', type='text', placeholder='Jaws', value='')
							|<b>ABV >= </b>
							|<input id="abv_slider" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="34" data-slider-step="1" data-slider-value="8"/>
				.col-sm-1
					+dropdown("Beer Style",[
						{text:"Ales"},
						{text:"Altbier"},
						{text:"American APA"},
						{text:"American Adjunct Lager"},
						{text:"American Amber / Red Ale"},
						{text:"American Amber / Red Lager"},
						{text:"American Barleywine"},
						{text:"American Black Ale"},
						{text:"American Blonde Ale"},
						{text:"American Brown Ale"},
						{text:"American Dark Wheat Ale"},
						{text:"American Double / Imperial IPA"},
						{text:"American Double / Imperial Pilsner"},
						{text:"American Double / Imperial Stout"},
						{text:"American IPA"},
						{text:"American Malt Liquor"},
						{text:"American Pale Lager"},
						{text:"American Pale Wheat Ale"},
						{text:"American Porter"},
						{text:"American Stout"},
						{text:"American Strong Ale"},
						{text:"American Wild Ale"},
						{text:"Baltic Porter"},
						{text:"Belgian Dark Ale"},
						{text:"Belgian IPA"},
						{text:"Belgian Pale Ale"},
						{text:"Belgian Strong Dark Ale"},
						{text:"Belgian Strong Pale Ale"},
						{text:"Berliner Weissbier"},
						{text:"Bière de Champagne / Bière Brut"},
						{text:"Bière de Garde"},
						{text:"Black & Tan"},
						{text:"Bock"},
						{text:"Braggot"},
						{text:"California Common / Steam Beer"},
						{text:"Chile Beer"},
						{text:"Cream Ale"},
						{text:"Czech Pilsener"},
						{text:"Doppelbock"},
						{text:"Dortmunder / Export Lager"},
						{text:"Dubbel"},
						{text:"Dunkelweizen"},
						{text:"Eisbock"},
						{text:"English Barleywine"},
						{text:"English Bitter"},
						{text:"English Brown Ale"},
						{text:"English Dark Mild Ale"},
						{text:"English India Pale Ale (IPA)"},
						{text:"English Pale Ale"},
						{text:"English Pale Mild Ale"},
						{text:"English Porter"},
						{text:"English Stout"},
						{text:"English Strong Ale"},
						{text:"Euro Dark Lager"},
						{text:"Euro Pale Lager"},
						{text:"Euro Strong Lager"},
						{text:"Extra Special / Strong Bitter (ESB)"},
						{text:"Faro"},
						{text:"Flanders Oud Bruin"},
						{text:"Flanders Red Ale"},
						{text:"Foreign / Export Stout"},
						{text:"Fruit / Vegetable Beer"},
						{text:"German Pilsener"},
						{text:"Gose"},
						{text:"Gueuze"},
						{text:"Happoshu"},
						{text:"Hefeweizen"},
						{text:"Herbed / Spiced Beer"},
						{text:"Hybrid"},
						{text:"Irish Dry Stout"},
						{text:"Irish Red Ale"},
						{text:"Japanese Rice Lager"},
						{text:"Kellerbier / Zwickelbier"},
						{text:"Kristalweizen"},
						{text:"Kölsch"},
						{text:"Lagers"},
						{text:"Lambic - Fruit"},
						{text:"Lambic - Unblended"},
						{text:"Light Lager"},
						{text:"Milk / Sweet Stout"},
						{text:"Munich Dunkel Lager"},
						{text:"Munich Helles Lager"},
						{text:"Märzen / Oktoberfest"},
						{text:"Oatmeal Stout"},
						{text:"Old Ale"},
						{text:"Pumpkin Ale"},
						{text:"Quadrupel (Quad)"},
						{text:"Rauchbier"},
						{text:"Roggenbier"},
						{text:"Russian Imperial Stout"},
						{text:"Rye Beer"},
						{text:"Sahti"},
						{text:"Saison / Farmhouse Ale"},
						{text:"Schwarzbier"},
						{text:"Scotch Ale / Wee Heavy"},
						{text:"Scottish Ale"},
						{text:"Scottish Gruit / Ancient Herbed Ale"},
						{text:"Smoked Beer"},
						{text:"Sour"},
						{text:"Tripel"},
						{text:"Vienna Lager"},
						{text:"Weizenbock"},
						{text:"Wheatwine"},
						{text:"Winter Warmer"},
						{text:"Witbier"}
						])
		.hidden(id='paginator')
		.hidden(id='dataset')
			.jumbotron(id='ba_jumbotron_hid')
		.hidden
			.jumbotron(id='ba_jumbotron')
				include widgets/el_search_ba_jquery.pug
