extends ../node_modules/pug-bootstrap/layouts/starter
block append head
	script(src="../ladda-bootstrap/dist/spin.min.js")
	script(src="../ladda-bootstrap/dist/ladda.min.js")
	script(src='../js/mongo_render.js')
	link(rel="stylesheet",href="../ladda-bootstrap/dist/ladda-themeless.min.css")
append body
	.container
		h4= title
		.container
			.row
				.col-sm-1
					.text-right
						+icon-primary('search')
						|&nbsp;
						Strong Beer:
				.col-sm-3
					input.form-control(id='f1' name='query', type='text', placeholder='Oatmeal stout')
				.col-sm-1
					button.btn.btn-primary(id='form-submit' type='submit' class='btn btn-primary ladda-button' data-style='expand-right' data-size='l')= 'Найти пиво'
			.row
				.col-sm-5
			.row
				.col-sm-5
			.row
				.col-sm-5
			.row
				.col-sm-1
				.col-sm-3
					+accordion("sample")
						+accordion-item-info("Brew","sample")
							input.form-control(id='f2', type='text', placeholder='Jaws', value='')
				.col-sm-1
					+dropdown("Beer Style",[
						{text:"Bootstrap"},
						{text:"JADE"},
						{text:"NodeJS"}
						])
		.hidden(id='paginator')
		.hidden(id='dataset')
			.jumbotron(id='ba_jumbotron_hid')
		.hidden
			.jumbotron(id='ba_jumbotron')
				include widgets/el_search_ba_jquery.pug
